# Environnement virtuel
venv/
__pycache__/
*.pyc

# Fichiers secrets
.env
.streamlit/secrets.toml

# Fichiers inutiles
*.architect~
.DS_Store
Backup/
obselete/
*.architect
schema relationel .jpg
Script calcul poid restant.sql